.navbar-light .navbar-nav .nav-link{
  color:var(--secondary-color);
  font-size: 0.95rem;
  margin: 0 15px;
}
.navbar-light .navbar-nav .nav-link.active-link{
  color:var(--active-color);
  background-color: rgb(0, 81, 255);
}

.nav_header_logo {
  font-size: 3.5rem;
  margin-left: 2rem;
  position: center;
  z-index: 2;
  background: rgb(0, 81, 255);
  transform: skew(-7deg);
  color: white;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  hover: rgb(0, 81, 255);
}

a:hover {
  background-color: rgb(0, 81, 255);
  transition: 0.25s;
  color:var(--active-color);
}