<div class="main-container">
  <div id="top-section">
    <div id="top-section-content">
    <h1>Doctor as God</h1>
    <p>Like Education Health care also needs to be given importance</p>
    <button class="bookappoint" style="trial"type="submit" value="submit">Book Appointment</button>
    </div>
  </div>
  <div class="feature-section">
   <a href="https://smallbusiness.chron.com/create-clickable-jpg-43801.html" class="blogs"><img src="https://media.istockphoto.com/photos/empty-laptop-screen-in-general-practitioner-hands-picture-id1216535355?b=1&k=20&m=1216535355&s=170667a&w=0&h=ZNDJGoT4Pal2J5ojSaYX9B5UVQR6ooKlY9yntj5H8Z4=" role="button"></a>
   <a href="https://smallbusiness.chron.com/create-clickable-jpg-43801.html" class="blogs"><img src="https://media.istockphoto.com/photos/empty-laptop-screen-in-general-practitioner-hands-picture-id1216535355?b=1&k=20&m=1216535355&s=170667a&w=0&h=ZNDJGoT4Pal2J5ojSaYX9B5UVQR6ooKlY9yntj5H8Z4=" role="button"></a>
   <a href="https://smallbusiness.chron.com/create-clickable-jpg-43801.html" class="blogs"><img src="https://media.istockphoto.com/photos/empty-laptop-screen-in-general-practitioner-hands-picture-id1216535355?b=1&k=20&m=1216535355&s=170667a&w=0&h=ZNDJGoT4Pal2J5ojSaYX9B5UVQR6ooKlY9yntj5H8Z4=" role="button"></a>
  </div>
  <div class="third-section">
    <img class="image" src="https://media.istockphoto.com/photos/mockup-black-tablet-computer-picture-id1254985199?b=1&k=20&m=1254985199&s=170667a&w=0&h=UJ3FHApBg0varELmz9cdJvT0HY4SErs4ulEuJG8BQzE=">
  </div>
</div>